.card {
  display: flex;
  flex-direction: column;
  height: 100%; 
  margin-bottom: 0;
}

.card-body {
  flex: 1; 
}

.row {
  margin-right: 0; 
  margin-left: 0; 
}

.col-md-6 {
  padding-right: 0;
  padding-left: 0; 
}
.mb-4 {
  margin-bottom: 5px; 
}
.card-title {
  font-size: 1.2rem; 
}

.card-text {
  font-size: 0.9rem; 
}

.pizza-type {
  display: inline-block;
  margin-left: 10px; 
}
.add-to-cart-btn {
  background-color: orange !important; 
  color: white !important; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
}
.add-to-cart-btn:hover {
  background-color: darkorange !important; 
}

